{% extends '/base.html.twig' %}


{% block body %}
    <div class="alert alert-danger" role="alert">
        <h2>ОШИБКА 403</h2>
        <h4>К сожалению, у Вас нет доступа к данному разделу сайта</САЙТА></h4>
    </div>
{% endblock %}